.update-location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.content {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}


.ant-input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    width: 100%;
}

.button-container {
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 6px;
}

.ant-btn-primary {
    background-color: #2563eb;
    border: none;
    transition: background-color 0.3s;
}

.ant-btn-primary:hover {
    background-color: #1d4ed8;
}

.text-center h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}
